---
http_interactions:
- request:
    method: get
    uri: https://iopscience.iop.org/issue/0026-1394/19/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hcvalidate.perfdrive.com/?ssa=ac89a266-1632-40f1-ae0b-8e6f92dde2d6&ssb=64279267471&ssc=https%3A%2F%2Fiopscience.iop.org%2Fissue%2F0026-1394%2F19%2F4&ssi=287877cd-8427-4b2d-ae25-c11765fbb217&ssk=support@shieldsquare.com&ssm=44583810465077985105258766929108&ssn=200e0a1f354f1b2de992e0751ce0f363d1a31e8cb5ea-296a-42fb-9bdca5&sso=9c81c12c-9546aac2b57f7c8907263abab2706998cab3b42a8a6a43f5&ssp=78926854041667658522166766438932629&ssq=84994611695120095376616951329799612073722&ssr=MTcyLjcyLjEzOS4xMDQ=&sst=Mozilla/5.0
        (Macintosh; Intel Mac OS X 10.11; rv:43.0) Gecko/20100101 Firefox/43.0&ssv=&ssw=&ssx=W10=
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title><script>var __uzdbm_1 = \"1e8cb5ea-296a-42fb-912c-9546aac2b57f\";var
        __uzdbm_2 = \"Mjg3ODc3Y2QtODQyNy00YjJkLWFlMjUtYzExNzY1ZmJiMjE3JDE3Mi43Mi4xMzkuMTA0\";</script>
        <script>(function(w, d, e, u, c, g, a, b){ w[\"SSJSConnectorObj\"] = {ss_cid
        : c, domain_info: \"auto\"}; a = d.createElement(e); a.async = true; a.src
        = u; b = d.getElementsByTagName(e)[0]; b.parentNode.insertBefore(a, b); })(window,document,\"script\",\"https://cdn.perfdrive.com/aperture/aperture.js\",\"a1c3\",\"ssConf\");</script></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>rdwr</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 05 Nov 2022 02:55:51 GMT
recorded_with: VCR 6.1.0
