---
http_interactions:
- request:
    method: get
    uri: https://iopscience.iop.org/issue/0026-1394/30/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hcvalidate.perfdrive.com/?ssa=737ceb79-41d8-4059-a9f7-f9bf002cbd56&ssb=03882209060&ssc=https%3A%2F%2Fiopscience.iop.org%2Fissue%2F0026-1394%2F30%2F4&ssi=81c7a26a-8427-4b47-b84f-265fa985a123&ssk=support@shieldsquare.com&ssm=39960943124522198103233273602914&ssn=a1e65a127d6235ca7d3e33d33b92ce0c8fa33b86166a-904b-464e-a3039f&sso=ddb7a1bd-0f392bb7c75851a221b685a9f4fa9e76629197dd63e5aef5&ssp=91484627471667656317166763122816053&ssq=94902441694968766155116949258095807720201&ssr=MTcyLjcyLjEzOS4xMDQ=&sst=Mozilla/5.0
        (Windows NT 6.3; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0&ssv=&ssw=&ssx=W10=
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title><script>var __uzdbm_1 = \"3b86166a-904b-464e-a1bd-0f392bb7c758\";var
        __uzdbm_2 = \"ODFjN2EyNmEtODQyNy00YjQ3LWI4NGYtMjY1ZmE5ODVhMTIzJDE3Mi43Mi4xMzkuMTA0\";</script>
        <script>(function(w, d, e, u, c, g, a, b){ w[\"SSJSConnectorObj\"] = {ss_cid
        : c, domain_info: \"auto\"}; a = d.createElement(e); a.async = true; a.src
        = u; b = d.getElementsByTagName(e)[0]; b.parentNode.insertBefore(a, b); })(window,document,\"script\",\"https://cdn.perfdrive.com/aperture/aperture.js\",\"a1c3\",\"ssConf\");</script></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>rdwr</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 05 Nov 2022 02:55:49 GMT
recorded_with: VCR 6.1.0
