---
http_interactions:
- request:
    method: get
    uri: https://iopscience.iop.org/issue/0026-1394/55/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hcvalidate.perfdrive.com/?ssa=066b7e52-1e8f-4551-a3e9-b8e547c0d869&ssb=83839277215&ssc=https%3A%2F%2Fiopscience.iop.org%2Fissue%2F0026-1394%2F55%2F1&ssi=ab625677-8427-4d8e-a00a-b71730e08058&ssk=support@shieldsquare.com&ssm=30087583702860605109198406254819&ssn=0b12cf3068f73cd9e930e248ad4fe787e773d4f746db-25e6-4a8d-97cbb2&sso=224efa99-205c128c4aac8048dc64acb7390462849be70218754d7271&ssp=13115553661667616612166764268524232&ssq=68111691695299652409416952556799620549653&ssr=MTcyLjcyLjEzOS4xMDQ=&sst=Mozilla/5.0
        (Macintosh; U; Intel Mac OS X 10_6_2; de-at) AppleWebKit/531.21.8 (KHTML,
        like Gecko) Version/4.0.4 Safari/531.21.10&ssv=&ssw=&ssx=W10=
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title><script>var __uzdbm_1 = \"d4f746db-25e6-4a8d-9a99-205c128c4aac\";var
        __uzdbm_2 = \"YWI2MjU2NzctODQyNy00ZDhlLWEwMGEtYjcxNzMwZTA4MDU4JDE3Mi43Mi4xMzkuMTA0\";</script>
        <script>(function(w, d, e, u, c, g, a, b){ w[\"SSJSConnectorObj\"] = {ss_cid
        : c, domain_info: \"auto\"}; a = d.createElement(e); a.async = true; a.src
        = u; b = d.getElementsByTagName(e)[0]; b.parentNode.insertBefore(a, b); })(window,document,\"script\",\"https://cdn.perfdrive.com/aperture/aperture.js\",\"a1c3\",\"ssConf\");</script></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>rdwr</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 05 Nov 2022 02:55:52 GMT
recorded_with: VCR 6.1.0
