---
http_interactions:
- request:
    method: get
    uri: https://iopscience.iop.org/issue/0026-1394/29/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hcvalidate.perfdrive.com/?ssa=31a77ce2-548d-405f-b0e7-725e4ff2a7eb&ssb=25009254486&ssc=https%3A%2F%2Fiopscience.iop.org%2Fissue%2F0026-1394%2F29%2F6&ssi=cb6e36cb-8427-4dc8-9c9a-77e62544e692&ssk=support@shieldsquare.com&ssm=68879890524932177102991681448911&ssn=50fda538b248f2cc94471323d39e5d064caadcc0b97c-4a29-4d2f-820dc3&sso=0e0896bb-a7dc3257598d1356f46c375542d5fc201795ed6a7cd96535&ssp=23954503101667623781166766359940816&ssq=92455301695094447542616950462821618626785&ssr=MTcyLjcyLjEzOS4xMDQ=&sst=Mozilla/5.0
        (Macintosh; Intel Mac OS X 10.11; rv:43.0) Gecko/20100101 Firefox/43.0&ssv=&ssw=&ssx=W10=
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title><script>var __uzdbm_1 = \"dcc0b97c-4a29-4d2f-86bb-a7dc3257598d\";var
        __uzdbm_2 = \"Y2I2ZTM2Y2ItODQyNy00ZGM4LTljOWEtNzdlNjI1NDRlNjkyJDE3Mi43Mi4xMzkuMTA0\";</script>
        <script>(function(w, d, e, u, c, g, a, b){ w[\"SSJSConnectorObj\"] = {ss_cid
        : c, domain_info: \"auto\"}; a = d.createElement(e); a.async = true; a.src
        = u; b = d.getElementsByTagName(e)[0]; b.parentNode.insertBefore(a, b); })(window,document,\"script\",\"https://cdn.perfdrive.com/aperture/aperture.js\",\"a1c3\",\"ssConf\");</script></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>rdwr</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 05 Nov 2022 02:55:49 GMT
recorded_with: VCR 6.1.0
