---
http_interactions:
- request:
    method: get
    uri: https://iopscience.iop.org/issue/0026-1394/34/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hcvalidate.perfdrive.com/?ssa=0b7c5af2-d686-41aa-9c7d-a7a9f7dfbfc8&ssb=25009254486&ssc=https%3A%2F%2Fiopscience.iop.org%2Fissue%2F0026-1394%2F34%2F3&ssi=e5a77835-8427-4745-a0f0-84211f15ae12&ssk=support@shieldsquare.com&ssm=68879890524932177102991681448911&ssn=50fda538d2dc73da5b66e871add85d064caaaeb4dc79-6fcd-4cee-920dc3&sso=0e089933-64699ab0403e1356f46cfff58bad90192a4d979e7cd96535&ssp=23954503101667623781166766359940816&ssq=92455301695094447542616950462821618626785&ssr=MTcyLjcyLjEzOS4xMDQ=&sst=Mozilla/5.0
        (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0; .NET CLR 1.1.4322; .NET
        CLR 2.0.50727)&ssv=&ssw=&ssx=W10=
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title><script>var __uzdbm_1 = \"aeb4dc79-6fcd-4cee-9933-64699ab0403e\";var
        __uzdbm_2 = \"ZTVhNzc4MzUtODQyNy00NzQ1LWEwZjAtODQyMTFmMTVhZTEyJDE3Mi43Mi4xMzkuMTA0\";</script>
        <script>(function(w, d, e, u, c, g, a, b){ w[\"SSJSConnectorObj\"] = {ss_cid
        : c, domain_info: \"auto\"}; a = d.createElement(e); a.async = true; a.src
        = u; b = d.getElementsByTagName(e)[0]; b.parentNode.insertBefore(a, b); })(window,document,\"script\",\"https://cdn.perfdrive.com/aperture/aperture.js\",\"a1c3\",\"ssConf\");</script></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>rdwr</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 05 Nov 2022 02:55:50 GMT
recorded_with: VCR 6.1.0
