---
http_interactions:
- request:
    method: get
    uri: https://iopscience.iop.org/issue/0026-1394/50/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hcvalidate.perfdrive.com/?ssa=975615dd-d08f-4dd2-96e1-9f49d83e5ceb&ssb=64279267471&ssc=https%3A%2F%2Fiopscience.iop.org%2Fissue%2F0026-1394%2F50%2F4&ssi=35eefff2-8427-474a-8953-46ebca449e8f&ssk=support@shieldsquare.com&ssm=44583810465077985105258766929108&ssn=200e0a1f4a753a6b0d70bdc113f2f363d1a3781ad12b-33b7-4ec9-8bdca5&sso=9c81cc7e-f289a046264b7c89072628ed03823b74a4eff6eb8a6a43f5&ssp=78926854041667658522166766438932629&ssq=84994611695020095376616950329799612073722&ssr=MTcyLjcyLjEzOS4xMDQ=&sst=Mechanize/2.8.5
        Ruby/3.0.0p0 (http://github.com/sparklemotion/mechanize/)&ssv=&ssw=&ssx=W10=
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title><script>var __uzdbm_1 = \"781ad12b-33b7-4ec9-8c7e-f289a046264b\";var
        __uzdbm_2 = \"MzVlZWZmZjItODQyNy00NzRhLTg5NTMtNDZlYmNhNDQ5ZThmJDE3Mi43Mi4xMzkuMTA0\";</script>
        <script>(function(w, d, e, u, c, g, a, b){ w[\"SSJSConnectorObj\"] = {ss_cid
        : c, domain_info: \"auto\"}; a = d.createElement(e); a.async = true; a.src
        = u; b = d.getElementsByTagName(e)[0]; b.parentNode.insertBefore(a, b); })(window,document,\"script\",\"https://cdn.perfdrive.com/aperture/aperture.js\",\"a1c3\",\"ssConf\");</script></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>rdwr</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 05 Nov 2022 02:55:50 GMT
recorded_with: VCR 6.1.0
